<p>
  <%= "Welcome #{@user.login}" %>
</p>

<% x= 1%>
  <b>You have the following ideas:</b>
<% for test in @tests %>
<p>
  <%=link_to "Idea #{x}", :controller=>'Ideas', :action=>'show', :id => test.id %> <br/>
  <% x+=1 %>
<%end%>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>