<h1>Welcome</h1>
	<% params[:search]="Search Stocks..."%>
<% form_tag :controller => 'stocks', :action=>'search', :method=>'get' do %>

	<%= text_field_tag :search, params[:search], :id => 'search_field',:onFocus => "if(this.value==this.defaultValue) this.value='';", :onBlur => "if(this.value=='') this.value=this.defaultValue;" %>
	<%= submit_tag "Search", :name => nil %>
	<%= link_to_function "Clear", "$('search_field').clear()" %>
<%end%>
	
